
.header {
  display: flex;
  background-color: var(--bgColor);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 5rem;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
}