.header {
  display: flex;
  background-color: var(--bgColor);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 5rem;
}