$black-border: 1px solid #4A5567;

.container {
  border: $black-border;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.table {
  width: 100%;
}

.tableHeaderTimeCell {
  border-left: $black-border;
}
.tableTaskCell {
  width: 80%;
  border-top: $black-border;
  border-bottom: $black-border;
}

.tableTaskCellContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
}

.tableTimeCell {
  border-top: $black-border;
  border-left: $black-border;
  border-bottom: $black-border;
}

.tableTimeCellContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.title {
  text-decoration: underline;
}