
%header {
  display: flex;
  background-color: var(--bgColor);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
}
.header {
  @extend %header;
  top: 0;
}
.main {
  // min-height: 100vh;
  padding: 1rem;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.footer {
  @extend %header;
  bottom: 0;
}