
%header {
  display: flex;
  background-color: var(--bgColor);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 1;

}
.header {
  @extend %header;
  top: 0;
  height: 4rem;
}
.main {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.footer {
  @extend %header;
  bottom: 0;
  height: 3rem;
  font-weight: bold;
  // margin-top: 10rem;
}